<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.DETECT_SCREEN_CAPTURE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" /> <!-- Required to enable notification option in Android 13+ devices -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.front" />

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.soscare.responder.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon"
        tools:targetApi="31">
        <activity
            android:name=".Product.ProductDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Product.ProductListingActivity"
            android:exported="false" />
        <activity
            android:name=".SignUp.SignUpWithPhoneActivity"
            android:exported="false" />
        <activity
            android:name=".SignUp.SignUpWithEmailActivity"
            android:exported="false" />
        <activity
            android:name=".SignUp.SignUpOptionsActivity"
            android:exported="false" />
        <activity
            android:name=".Login.LoginWithPhoneActivity"
            android:exported="false" />
        <activity
            android:name=".Login.LoginWithEmailActivity"
            android:exported="false" />
        <activity
            android:name=".Login.LoginOptionsActivity"
            android:exported="false" />
        <activity
            android:name=".Login.EnterOTPActivity"
            android:exported="false" />
        <activity
            android:name=".Login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Splash.WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".ScanProduct.ScanProductActivity"
            android:exported="false" />
        <activity
            android:name=".MyAccount.MyAccountActivity"
            android:exported="false" />
        <activity
            android:name=".Splash.SplashActivity"
            android:exported="true" />
        <activity
            android:name=".HealthBeauty.HealthBeautyActivity"
            android:exported="false" />
        <activity
            android:name=".GroceriesPets.GroceriesPetsActivity"
            android:exported="false" />
        <activity
            android:name=".BabyToys.BabyToysActivity"
            android:exported="false" />
        <activity
            android:name=".SportsOutDoor.SportsOutdoorActivity"
            android:exported="false" />
        <activity
            android:name=".Medicine.MedicineActivity"
            android:exported="false" />
        <activity
            android:name=".HomeLifeStyle.HomeLifestyleActivity"
            android:exported="false" />
        <activity
            android:name=".Electronics.ElectronicsActivity"
            android:exported="false" />
        <activity
            android:name=".ManFashion.ManActivity"
            android:exported="false" />
        <activity
            android:name=".WomanFashion.WomanFashionActivity"
            android:exported="false" />
        <activity
            android:name=".Wishlist.WishlistActivity"
            android:exported="false" />
        <activity
            android:name=".Cart.CartActivity"
            android:exported="false" />
        <activity
            android:name=".Dashboard.DashboardActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>